---
import { Image } from 'astro:assets'
import Logo from '../assets/logo.svg'
import Template from '../layouts/Template.astro'
Astro.cookies.set("lang",Astro.cookies.get("lang")!.value,{path:"/",maxAge:31536000})
const pages = [["Home","Projects","Preferences"],["Docs","Form","Learn","News"]]

interface Props {
    page:string
}
const { page } = Astro.props

export const prerender = true
---

<Template className='bg-slate-300 dark:bg-slate-600 text-gray-800 dark:text-gray-50 overflow-hidden' transition={true} title={page!=="Home" ? page:""}>
    <div class="w-full h-10 @hs:5 border-b-slate-400/50 border-b">
        <div class="ml-2 @hs:ml-2 @mb:ml-6 w-[50px] h-full text-left p-0.5">
            <a href="../" class="outline-none group-focus:brightness-150 group">
                <Image src={Logo} alt="W" class="h-full hover:brightness-105 duration-300 group-focus:brightness-105"/>
            </a>
        </div>
    </div>
    <div class="h-[calc(100lvh-40px)] justify-center items-center flex w-full">
        <div class="w-12 @hs:w-8 @mb:w-20 @tb:w-[220px] @lt:w-[280px] h-full grid grid-rows-2 duration-300">
            {[0,1].map(n => 
            <div class={`flex ${n===0 ? "flex-col":"flex-col-reverse"} pb-0.5`}>
                {pages[n].map(e => 
                <a href={(e!=="Home")?e.toLowerCase():"../"} tabindex="-1" target={e==="Docs"?"_blank":""}>
                    <button class={`px-0 @hs:px-0 @tb:px-8 @lt:px-12 h-12 @hs:h-8 text-xl w-full flex justify-center py-2 border-slate-400/50 ${n===0?"border-b":"border-t"} duration-300 outline-none focus:outline -outline-offset-1 ${page==e ? "font-semibold text-lg bg-slate-400/50":"hover:bg-slate-400/20 focus:outline-blue-300/50 group"}`} tabindex={page==e?"-1":"0"}>
                        <div class="h-full">
                            <Image src={import(`../assets/icons/${e=="Docs →"?"Docs":e}.svg`)} alt={""} class={`h-7 @hs:h-4 w-7 @hs:w-4 dark:invert ${page!==e && "scale-95"}`}/>
                        </div>
                        <div class="hidden @hs:hidden @tb:block w-full">
                            {e}
                        </div>
                        <div class="pointer-events-none ml-40 @hs:ml-36 @mb:ml-48 visible @hs:visible @tb:invisible opacity-0 group-hover:opacity-100 absolute w-24 px-1 py-1 @hs:py-0 rounded duration-300 bg-white/60 dark:bg-black/30">{e}</div>
                        {e==="Docs" && <Image src={import("../assets/icons/Window.svg")} alt="→" class="absolute ml-28 invisible @hs:invisible @tb:visible dark:invert w-4 opacity-50"/>}
                    </button>
                </a>
                )}
            </div>
            )}
        </div>
        <div class="w-[calc(100%-48px)] @hs:w-[calc(100%-24px)] @mb:w-[calc(100%-80px)] @tb:w-[calc(100%-220px)] @lt:w-[calc(100%-280px)] h-full duration-300">
            <div class="h-full w-full rounded-xl bg-slate-200 dark:bg-slate-700 border-slate-400 border border-t-0 p-2 @mb:p-4 @tb:p-6">
                <slot />
            </div>
        </div>
    </div>
</Template>
<style is:global>
*{
    @apply select-none [-webkit-user-drag:none]
}
</style>
