---
if(!Astro.cookies.has("lang"))return Astro.redirect("./welcome")
import HomeTemplate from '../templates/HomeTemplate.astro'
---

<HomeTemplate page="Projects">
    <div class="h-full w-full flex justify-center items-center">
        <div class="text-3xl @mb:text-5xl text-center">
            <div class="font-bold">
                PROJECTS
            </div>
            <div class="mt-5">
                Under Development.
            </div>
        </div>
    </div>
</HomeTemplate>
