---
import App from "../layouts/App.astro"
import { Image } from "astro:assets";
import title from '../assets/title.svg'

export const prerender = true
---

<App title="Quick" className='bg-slate-200 dark:bg-slate-700 text-gray-800 dark:text-gray-50'>
    <div class="h-[100lvh] flex justify-center items-center">
        <div class="text-3xl @mb:text-5xl text-center">
            <div class="font-bold">
                Quick Start
            </div>
            <div class="mt-5">
                Under Development.
            </div>
        </div>
    </div>
</App>