---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import title from '../assets/title.svg'
export const prerender = true
---

<script>
    let lang:string = (navigator.language=="ja")?"ja":"en"
    const ui:{[language:string]:{[key:string]:string}} = {
        ja:{
            concept:"手軽なサイト作りを全ての人へ。",
            setup:"セットアップを開始",
            quick:"クイックスタート",
            docs:"ドキュメント"
        },en:{
            concept:"Easy Site Creation for Everyone.",
            setup:"Start Setup",
            quick:"Quick Start",
            docs:"Documentation"
        }
    }
    window.onload=()=>{
        for(let i in ui[lang])document.getElementById(i)!.textContent = ui[lang][i]
        document.getElementById("main")!.style.removeProperty("visibility")
        document.getElementById("setup")!.onclick=()=>{
            document.cookie = `setup-language="${navigator.language}";max-age=86400;path=/`
        }
    }
    window.onfocus = ()=>{
        if(lang!==navigator.language){
            lang = (navigator.language=="ja"||navigator.language=="ja-JP")?"ja":"en"
            for(let i in ui[lang])document.getElementById(i)!.textContent = ui[lang][i]
        }
    }
</script>
<Layout className='bg-slate-200 dark:bg-slate-700 text-gray-800 dark:text-gray-50 overflow-hidden'>
    <div class="h-[100svh] flex justify-center items-center animate-fadein" style="visibility:hidden" id="main">
        <div class="text-center w-auto">
            <div class="flex justify-center mb-4 @tb:mb-10 @hs:mb-2">
                <Image src={title} alt="WABER" class="w-1/2 @tb:w-2/3" />
            </div>
            <div class="text-xl @hs:text-3xl @mb:text-2xl @tb:text-4xl @lt:text-5xl @pc:text-6xl @dp:text-8xl font-semibold text-center mb-6 @tb:mb-14 @hs:mb-4" id="concept" />
            <a href="/setup/preset" class="rounded-full" tabindex="-1">
                <button class="w-4/5 @mb:3/4 @tb:w-2/3 @hs:w-1/2 shadow h-10 @mb:h-12 @lt:h-14 @hs:h-10 border-blue-400 border-2 bg-blue-400 text-white hover:opacity-80 transition duration-200 text-xl @lt:text-2xl @hs:text-xl rounded-full outline-none focus:outline-2 focus:outline-offset-4 focus:outline-blue-300 focus:opacity-80 mb-4 @tb:mb-6 @hs:mb-3 @lt:mb-8" id="setup" />
            </a>
            <a href="/quick" class="rounded-full" tabindex="-1">
                <button class="w-4/5 @mb:3/4 @tb:w-2/3 @hs:w-1/2 shadow h-10 @mb:h-12 @lt:h-14 @hs:h-10 border-blue-400 border-2 bg-transparent hover:bg-blue-400 text-blue-400 hover:text-white hover:opacity-80 transition text-xl @lt:text-2xl @hs:text-xl rounded-full outline-none focus:outline-2 focus:outline-offset-4 focus:outline-blue-300 focus:bg-blue-400 focus:text-white focus:opacity-80 duration-200" id="quick" />
            </a>
        </div>
    </div>
    <div class="absolute left-5 bottom-1 text-lg @mb:text-xl font-light">
        Ver.0.0.0
    </div>
    <div class="absolute right-5 bottom-1 text-lg @mb:text-xl">
        <a href="/docs" class="outline-none focus:outline-2 focus:outline-offset-4 focus:outline-blue-300 rounded-full text-blue-400 duration-300" id="docs" />
    </div>
</Layout>
<style>
    img{
        @apply select-none pointer-events-none
    }
</style>