---
interface Props {
	title?: string;
	className?: string;
    transition?: TransitionAnimationValue;
}

const { title,transition,className } = Astro.props;

import { ViewTransitions } from 'astro:transitions';
import type { TransitionAnimationValue } from 'astro';
---
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Waber {title && ` - ${title}`}</title>
		{transition && <ViewTransitions/> }
	</head>
	<body transition:animate={transition ? transition:'none'} class={`overflow-hidden ${className}`}>
		<slot />
	</body>
</html>