---
interface Props {
	title?: string;
	className?: string;
    transition?: boolean;
    lang?: string;
}

const { title,transition,className,lang } = Astro.props;

import { ViewTransitions } from 'astro:transitions';
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Waber - Easy Site Creation for Everyone." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Waber {title && ` - ${title}`}</title>
		{transition && <ViewTransitions fallback='animate'/> }
	</head>
	<body class={className}>
		<slot />
	</body>
</html>
